html {
  text-align: left;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  background: rgb(181, 201, 200)
}

body {
  margin: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.intro {
  padding: 10px;
  margin: auto;
  color: #666;
}

/* in test only */
.main {
  padding: 50px;
  margin: auto;
  color: #aaa;
}

.footer {
  padding: 10px;
  margin: auto;
  border-bottom: none;
  color: #666;
  font-size: 11px;
  text-align: right;
}

/* pour le preload de la page Strava */
.loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
